<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xtkj.mapper.AssessmentMapper">

    <!--查询所选科室考核标准信息-->
    <resultMap id="BaseResultMap" type="com.xtkj.bean.Assessment" >
        <id column="departmentId" property="departmentId" jdbcType="BIGINT" />
        <result column="departmentName" property="departmentName" jdbcType="VARCHAR" />
        <result column="assessmentTitle" property="assessmentTitle" jdbcType="VARCHAR" />
        <result column="assessmentContent" property="assessmentContent" jdbcType="VARCHAR" />
        <result column="creatDeptGrop" property="creatDeptGrop" jdbcType="VARCHAR" />
        <result column="autoAddUser" property="autoAddUser" jdbcType="VARCHAR" />
        <result column="partentId" property="partentId" jdbcType="BIGINT" />
    </resultMap>
    <!--1. 查询所选科室考核标准-->
    <select id="searchAssessmentCriteria"  resultMap="BaseResultMap" >
       SELECT  * FROM [XiXia_Smart_Water3.0].[dbo].[ZHSW_XX_AssessmentStandard]  where departmentId = #{departmentId}
    </select>

    <!--2. 查询所有科室考核标准-->
    <select id="searchAllAssessmentsCriteria"  resultMap="BaseResultMap" >
       SELECT  * FROM [XiXia_Smart_Water3.0].[dbo].[ZHSW_XX_AssessmentStandard]
    </select>

    <!--3. 修改所选科室考核标准-->
    <update id="updateAssessmentCriteria" parameterType="com.xtkj.bean.Assessment" >
        UPDATE  [XiXia_Smart_Water3.0].[dbo].[ZHSW_XX_AssessmentStandard] SET assessmentContent = #{assessmentContent} where departmentId=#{departmentId}
    </update>

    <!--4. 根据userId确定用户权限级别-->
    <select id="getUserPermissionLevel" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT userLevel FROM [XTKJ03].[dbo].[admin] WHERE userId=#{userId}
    </select>
    <!--5. 删除所选科室考核标准-->
    <delete id="deleteAssessment" parameterType="java.lang.Integer" >
        DELETE FROM [XiXia_Smart_Water3.0].[dbo].[ZHSW_XX_AssessmentStandard] WHERE [departmentId]=#{departmentId}
    </delete>
</mapper>